* {
    outline: red dotted 2px;
    font-family: roboto;
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header, .hero {
    background: #1F2937;
}

.header {
    color: #E5E7EB;
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo img {
    width: 80px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;

}

.hero-text {
    flex: 1 ;
    /* padding-left: 150px;
    padding-top: 100px; */
}

img {max-width:100%;}

.hero-figure {
    flex: 1 ;
    width: 150px;
    /* padding-left: 150px;
    padding-top: 100px; */
}

.hero-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero-details {
    color: #E5E7EB;
    font-size: 18px;

}

ul { 
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 16px;
    color: ;
}

a {
    text-decoration: none;
    color: inherit;
}